[{sasl,[{sasl_error_logger,{file,"log/sasl-error.log"}},
        {errlog_type,error},
        {error_logger_mf_dir,"log/sasl"},
        {error_logger_mf_maxbytes,10485760},
        {error_logger_mf_maxfiles,5}]},
 {kernel,[{distributed, [{m8ball,
                          5000,
                          [{{primary}}, {{secondary}}]}]},
          {sync_nodes_mandatory, {{mandatory}} },
          {sync_nodes_timeout, 30000}
         ]}].
